@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reseting the deafults */

html{
    scroll-behavior: smooth;
}

::before,
::after{
    box-sizing: border-box;
}


*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

img, picture, svg { 
    max-width: 100%;
    display: block;
}

ul[role="list"],
ol[role="list"] {
    list-style: none; 
}

.container{
    width: 100%;
}

:root{
    --clr-accent-200:hsl(250deg 33% 5%);
    --clr-accent-100:hsl(228deg 3% 43%);

    --clr-netural-100:hsl(30deg 2% 99%);
    --clr-neutral-200:hsl(228deg 3% 43%);

    --btn-clr:hsl(253deg 100% 42%);
    --btn-bg-clr:hsl(247deg 68% 95%);

    --font-family-primary: 'Inter', sans-serif; 
    --font-family-body: var(--font-family-primary); 
    --font-family-heading: var(--font-family-primary); 

    --fs-100:0.75rem;
    --fs-200:1rem;
    --fs-300:1.5rem;
    --fs-400:2rem;
    --fs-500:2.5rem;
    --fs-600:3rem;
    --fs-700:3.5rem;
    --fs-800:4rem;
    --fs-900:4.5rem;

    --fw-100:0.75rem;
    --fw-200:1rem;
    --fw-300:1.5rem;
    --fw-400:2rem;
    --fw-500:2.5rem;
    --fw-600:3rem;
    --fw-700:3.5rem;
    --fw-800:4rem;
    --fw-900:4.5rem;

    --fs-primary-heading:var(--fs-600);
    --fs-secondary-heading:var(--fs-400);
    --fs-nav-size:var(--fs-200);
     --fs-nav-size:var(--fs-200);
}

@media (min-width:50em){
    :root{
    --fs-primary-heading:var(--fs-600);
    --fs-secondary-heading:var(--fs-500);
    --fs-nav-size:var(--fs-300);
    --fs-nav-size:var(--fs-300);
    }
}

/* utility classes */

.text-primary{
    color: var(--clr-accent-200);
}

.text-secondary{
    color: var(--clr-neutral-100);
}

.text-secondary{
    color: var(--clr-accent-100);
}

.bg-primary{
    color: var(--clr-neutral-100);
}

.btn-clr{
    color: var(--btn-clr);
}

.btn-bg-primary{
    color: var(--btn-bg-clr);
}

.fw-light{
    font-weight: var(--fw-100);
}

.fw-regular{
    font-weight: var(--fw-300);
}
.fw-semi-bold{
    font-weight: var(--fw-600);
}
.fw-bold{
    font-weight: var(--fw-900);
}

.fs-100{ 
    font-size: var(--fs-100)
}
.fs-200{ 
    font-size: var(--fs-200)
}
.fs-300{ 
    font-size: var(--fs-300)
}
.fs-400{ 
    font-size: var(--fs-400)
}
.fs-500{ 
    font-size: var(--fs-500)
}
.fs-600{ 
    font-size: var(--fs-600)
}
.fs-700{ 
    font-size: var(--fs-700)
}
.fs-800{ 
    font-size: var(--fs-800)
}
.fs-900{ 
    font-size: var(--fs-900)
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: var(--clr-accent-100);
}

a{
    text-decoration: none;
    color: var(--clr-accent-100);
}

/* general-styling */

body{
    font-size: var(--font-size-body);
    font-family: var(--font-family-body);
    color: var(--color-neutral-900);
}

.para{
    color: var(--clr-accent-100);
    font-size: var(--fs-100);
}


.primary-button{
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1vmax;
    padding: 0.5em 1em;
    font-weight: var(--fw-600);
    background-color: var(--btn-bg-clr);
}

li .nav-link{
    text-decoration: none;
    color: black;
    border: 0;
    border-radius: 1vmax;
}

li .nav-link:hover{
    color: var(--btn-clr) !important;
    background-color:var(--btn-bg-clr);
}


.nav-link i{
    color: black;
}
.nav-link:hover i{
   color: #5143d9;
}

.search-area{
    position: relative;
}

.search input{
    width: 10em;
    padding: 0% 8%;
}

.search{
    min-width: 70%;
    background-color: white;
    position: absolute;
    top: 70%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.529);
}

@media (max-width:1000px){
    .search{
        position: relative;
        top: 0;
        box-shadow: none;
    }

    .search input{
        width: auto;
    }
}

.search i{
    display: flex;
    align-items: center;
    font-size: var(--fs-500);
    color: var(--clr-accent-100);
}
.search-b i{
    color: #5143d9;
}

.facility i{
    font-size: 1.5em;
    border-radius: 50%;
     border: 2px solid transparent;
    padding: 10% 22% 10% 10%;
}

.fa-1{
    color: #00ba84;
    background-color: #e6f8f3;
}
.fa-2{
    color: #d6293d;
    background-color: #fbe9eb;
}
.fa-3{
    color: #fd7e14;
    background-color: #fff2e7;
}
.fa-4{
    color: #17a2b8;
    background-color: #e7f6f7;
}

.hotels{
    position: relative;
}

.hotel-location{
    position: absolute;
    top: 85%;
    left: 10%;
}

.quote i{
    font-size: 4em;
    color: #5143d9;
}

.hotel-rating i{
    color: #f6c32e;
}

.rating{
    width: 5%;
    display: flex;
    color: #f6c32e;
}

.rating i{
    font-size: 1em;
}

.connect-withus i{
    font-size: 3em;
}

.find-us i{
    font-size: 2em;
}